.search-form{
    height: 44px;
    display: flex;
}

.search-form input{
    
    box-sizing: border-box;
    border-radius: 20px;
    border-color: black;
    height: 56px;
    padding: 28px;
    flex:1;
    background-color: rgba(9, 15, 100, 0.2);
    color: var(--gray);
    border: solid;
    transition: all -3s ease-in-out;
    margin-left: 120px;
    font-size: 22px;
}

.search-form input::placeholder {
    color: black;
}

.search-form button{
    width: 70px;
    height: 60px;
    border:none solid none none;
    color: black;
    border-radius: 20px;
    font-size: 22px;
}

li {
    list-style-type: none;
}